* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {}



#container {
    width: 85vw auto;
    margin: 20px auto;
    background-color: rgb(156, 156, 156);
    outline: 8px solid rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(187, 134, 143);
    border-radius: 15px;
    box-shadow: 1px 2px 3px grey;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(216, 175, 218);
    cursor: pointer;
    padding: 10px;

}

.desc {
    text-align: justify;
    line-height: 1.5;
    padding: 5px;
}

#giyuu .details,
#obanai .details {
    display: flex;
    justify-content: center;
    align-items: center;

}

.name {
    font-size: 33px;
    font-weight: 600;
}

.type {
    font-size: 1rem;
}

/* .name {
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.type {
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .desc {
    font-size: 12px; */

img {
    width: 100px;

}

.item:hover {
    color: white;
}

.details {
    text-align: center;

}

#giyuu {
    background-color: rgb(181, 189, 235);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    /* display: inline-block; */
}

#nezuko {
    background-color: plum;
}

#inosuke {
    background-color: burlywood;
}


#obanai {
    background-color: gainsboro;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#shinobu {
    background-color: pink;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;

}

@media (max-width: 950px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }

    .item {
        flex-grow: 5;
        flex-direction: column;
        /* text-align: center; */
        display: flex;
    }
        
    #giyuu {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #nezuko {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #inosuke {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #obanai {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-start: 2;
    }

    #shinobu {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

@media (max-width: 750px) {

    #giyuu .details,
    #nezuko .details,
    #inosuke .details,
    #obanai .details,
    #shinobu .details {
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #giyuu {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #nezuko {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #inosuke {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #obanai {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-start: 5;
    }

    #shinobu {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }
}
