@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Fjalla+One&family=Pacifico&display=swap');

.catty {
    width: 80px;
}

body {
    background-image: url('Heavenly\ Clouds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 5rem;
    text-align: center;
    font-family: Pacifico;
    margin-bottom: 2.5px;

}

h2 {

    font-size: 2rem;
    text-align: center;
    font-family: DM Serif Display;

}

p {
    font-size: 1rem;
    text-align: center;
    font-family: Fjalla One;
    font-size:
}
.butt{
    height: 100px;
    float: right;
}